body {
	background-image: url("newbackground.jpg");
	background-size: cover;
}

h1 {
	color: white;
}

h2 {
	color: gray;
}

h3 {
	color: yellow;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}


li a {
	float: left;
	display: block;
	width: 20 px;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #dddddd;
}

li a:hover {
	background-color: #555;
	color: orange;
	width: 200 px;
}

a:active {
	background-color: #4CAF50;
	color: white;
}
