*{
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("updatedbackground.jpg");
	background-size: cover;
}

h1 {
	color: yellow;
	text-align: center;
	font-size: 50px;
	font-style: italic;
	font-family: "monotype corsiva", arial, serif;
	font-weight: bold;
	line-height: 0;
	padding: 20px;
}

h2 {
	color: yellow;
}

h3 {
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}


li a {
	float: left;
	display: block;
	width: 20 px;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #dddddd;
}

li a:hover {
	background-color: #555;
	color: orange;
	width: 200 px;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.active2 {
	background-color: purple;
	color: white;
}
