*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack: center;

	background-image: url("newbackground.jpg");
	background-image: url("back11.jpg");

	background-color: #cccccc;
	background-size: cover;
}

#entire{
	max-width: 10000px;
	margin: 20 px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flexx: 1;
}

.quote{
	text-align: left;
	width: 100%;
}

.tutor{
       text-align: right;
       font-size: 30px;
       font-style: italic;
}
.boxed {
    width: 650px;
    padding: 75px;
    border: 5px solid #a7caeb;
    margin: 100px;
    background-image: url("");
    position: absolute;
    left: 500px;
    top: 150px;
}
}     

h1 {
	color: yellow;
	text-align: center;
	font-size: 50px;
	font-style: italic;
	font-family: "monotype corsiva", arial, serif;
	font-weight: bold;
	line-height: 0;
	padding: 20px;
}

h2 {
     font-family: "times new roman", serif;
     font-style: normal;
     font-size: 30px;
     color: black;
     font-weight: light;
     font-variant: small-caps;
     text-align: center;
     line-height: 0.5px;
     padding: 5px;
} 

p {
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: light
}

.sub {
    font-size: 20px;
    position: relative;
    display: incline-block;

}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12ppx 16px;
	z-index: 1;
	}

.dropdown:hover .dropdown-content {
	display: block;
	}


div.img:logoLT.jpg {
    width: 100%;
    height: auto;
}     

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}

li {
	float: left;
}

a {
	color: white;
}

li a {
	float: left;
	display: block;
	width: 20 px;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #dddddd;
}

li a:hover {
	background-color: #555;
	color: orange;
	width: 200 px;
}

.active {
	background-color: #4CAF50;
	color: white;
