body{
	background-image: url("updated background.jpg");
	background-color: #cccccc;
	background-size: cover;
}

h1 {
	color: yellow;
}

h2 {
	color: black;
}

h1 {
     font-size: 50px;
}

h2 {
     font-size: 30px;
}

h1 {
       font-family: "monotype corsiva", arial, serif;
}

h2 {
     font-family: "times new roman", serif;
} 
 
h1 {
     font-style: italic;
}

h2 {
     font-style: normal;
}

h1 {
     font-weight: bold;
}

h2 {
     font-weight: light;
}

h2 {
 font-variant: small-caps;
}

h1 {
     text-align: center;
}

h2 {
     text-align: center;
}

h1 {
     line-height: 0.1;
}

h2 {
     line-height: 1.5;
}


     


     

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}

li {
	float: left;
}

a {
	color: white;
}

li a {
	float: left;
	display: block;
	width: 20 px;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #dddddd;
}

li a:hover {
	background-color: #555;
	color: orange;
	width: 200 px;
}

.active {
	background-color: #4CAF50;
	color: white;
}
