*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack: center;

	background-image: url("hbackground.jpg");
	background-image: url("hbackground.jpg");

	background-color: #cccccc;
	background-size: cover;
}

#entire{
	max-width: 10000px;
	margin: 20 px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flexx: 1;
}

.quote{
	text-align: left;
	width: 100%;
}

.tutor{
       text-align: right;
       font-size: 30px;
       font-style: italic;
}
.boxed {
    width: 450px;
    padding: 75px;
    margin: 100px;
    background-image: url("");
    position: absolute;
    left: 1125px;
    top: -100px;
}
}     

h1 {
	color: black;
	text-align: center;
	font-size: 50px;
	font-style: italic;
	font-family: "monotype corsiva", arial, serif;
	font-weight: bold;
	line-height: 0;
	padding: 20px;
}

h2 {
     font-family: "times new roman", serif;
     font-style: normal;
     font-size: 30px;
     color: black;
     font-weight: light;
     font-variant: small-caps;
     text-align: center;
     line-height: 0.5px;
     padding: 5px;
} 

p {
    padding: 20px;
    color: black;
    font-size: 20px;
    font-weight: light
}

.sub {
    font-size: 20px;
    position: relative;
    display: incline-block;

}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12ppx 16px;
	z-index: 1;
	}

.dropdown:hover .dropdown-content {
	display: block;
	}


div.img:logoLT.jpg {
    width: 100%;
    height: auto;
}     

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}

li {
	float: left;
}

a {
	color: white;
}

li a {
	float: left;
	display: block;
	width: 20 px;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #dddddd;
}

li a:hover {
	background-color: #555;
	color: orange;
	width: 200 px;
}

.active {
	background-color: #4CAF50;
	color: white;
}
.img1{
	position: absolute;
	left : 350px;

}
.slide{
   width : 500px;
   position: absolute;
   left: 500px;
}

   form {
  border: 5px solid  black;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  left: 50px;
  background-color: #F0F0F0;
  position: absolute;
  left: 20px;
  top: 250px;
  }
  fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background-color: #F0F0F0;
  border-top: 1px solid #c6c7cc;
  padding: 10px;
}

.account-action .btn {
  background: linear-gradient(#f90000, #f90000);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;

}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
  background-color: #F0F0F0;
}

